apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: microapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: modoma21/express
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URL
              value: "mongodb://admin:secret@mongo:27017/"
