apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: microapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: modoma21/login_page
          ports:
            - containerPort: 3000
          env:
            - name: CHOKIDAR_USEPOLLING
              value: "true"
            - name: WATCHPACK_POLLING
              value: "true"
            - name: WDS_SOCKET_PORT
              value: "3000"
