# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: mongo-deployment
# spec:
#   replicas: 2
#   selector:
#     matchLabels:
#       component: mongo
#   template:
#     metadata:
#       labels:
#         component: mongo
#     spec: 
#       containers:
#         - name: mongo
#           image: nginx:latest  #to be decided later
#           ports:
#             - containerPort: 27017
#           env:
#             - name: MONGO_INITDB_ROOT_USERNAME
#               value: admin
#             - name: MONGO_INITDB_ROOT_PASSWORD
#               value: secret
#           resources:
#             requests:
#               cpu: "100m"
#               memory: "128Mi"
#             limits:
#               cpu: "250m"
#               memory: "256Mi"
          
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: microapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:latest
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              value: "admin"
            - name: MONGO_INITDB_ROOT_PASSWORD
              value: "secret"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc
